@model List<SapremaMain.Models.MeditationViewModels.MeditationsViewModel>

<div class="container">
    <h1 class="page-header">Meditations</h1>
</div>
<div class="container scroll-div">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <ul>
            @foreach (var vm in Model)
            {
                <li class="teacher-list">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @vm.MeditationName
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                            @vm.MeditationId
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            @vm.MeditationType
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                            <button data-medId="@vm.MeditationId" class="btn btn-default pull-right meditation-list-btn">play</button>
                        </div>
                    </div>
                </li>
                <hr />
            }
        </ul>
    </div>
</div>

@*onclick="location.href='@Url.Action("PlayMeditation", "Meditation", new { MeditationId = vm.MeditationId })'"*@

